/* COLOURS */

// MAIN COLOUR
$paper-white: #f9f7f4;
$paper-white-dark: #f1f0ee;
$white: #fff;
$light-pink: #f5c1bc;
$light-black: #333;

$light-black-08-transparent: rgba(51, 51, 51, 0.8);
$light-black-03-transparent: rgba(51, 51, 51, 0.3);

$umbraco-blue: #1b264f;
$umbraco-blue-light: #3e57b4;

// TYPOGRAPHY
$main-font-colour: #3544b1;

/* BORDERS */
$main-border-radius: 10px;

/* TRANSITIONS */
$main-all-transition: all 250ms ease;
