/* COLOURS */

// MAIN COLOUR
$paper-white: #f1f0ee;
$white: #fff;
$light-pink: #f5c1bc;
$light-black: #333;

$umbraco-blue: #1b264f;
$umbraco-blue-light: #3e57b4;

// TYPOGRAPHY
$main-font-colour: #3544b1;

/* BORDERS */
$main-border-radius: 10px;

/* TRANSITIONS */
$main-all-transition: all 250ms ease;
