.header {
  &__wrapper {
    background-color: $paper-white;
  }

  &__container {
    // border: 1px solid $light-black;
    // border-top: none;
    // border-bottom-left-radius: $main-border-radius;
    // border-bottom-right-radius: $main-border-radius;
    padding: 2rem;
  }

  &__link {
    text-decoration: none;
    // font-size: 1.4rem;

    &--cta {
      background-color: $umbraco-blue;
      padding: 1.4rem 3rem;
      border: 1px solid $light-black;
      border-radius: $main-border-radius;
      color: $white;

      transition: $main-all-transition;

      &:hover,
      &:active {
        background-color: $umbraco-blue-light;
      }
    }
  }
}
